body {
    padding-top: 60px;
    padding-bottom: 40px;
}

legend {
    margin:3px;
    text-align:center;
    width:100%
}

footer {
    margin-top: 40px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

div.highlight code {
    background-color: whiteSmoke;
}

code {
    padding: 0;
}

.stacked img {
    margin-bottom: 10px;
}
