body {
    padding-top: 60px;
    padding-bottom: 40px;
}

legend {
    margin:3px;
    text-align:center;
    width:100%
}

footer {
    margin-top: 40px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

.media-grid img {
    display: block;
}

.media-grid li {
    float: left;
    padding: 4px;
    margin: 0 0 18px 20px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

div.highlight code {
    background-color: whiteSmoke;
}

code {
    padding: 0;
}

.stacked img {
    margin-bottom: 10px;
}
