<!doctype html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="stylesheet" type="text/css"
            href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
        href="/static/css/styles.css"/>

    <link rel="stylesheet" type="text/css" media="screen"
        href="/static/css/pygments/default.css"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/images/openxc-logo.png"
          alt="OpenXC"/>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if page.section == 'about' %}active{% endif %}"><a href="/overview/index.html">About</a></li>
        <li class="{% if page.section == 'developer' %}active{% endif %}"><a href="/getting-started/index.html">Developers</a></li>
        <li class="{% if page.section == 'hardware' %}active{% endif %}"><a href="/hardware.html">Hardware</a></li>
        <li class="{% if page.section == 'community' %}active{% endif %}"><a href="/overview/discuss.html">Community</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12">
          <div class="page-header">
            <h1>Not Found (404)</h1>
        </div>

        <p>We couldn't find the page you were looking for - try starting at the
          <a href="/">OpenXC home page</a>.
        </p>
    </div>

    <footer>
        <p>
            Except as otherwise noted, the content of this page is licensed
            under the
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution International 4.0 License.</a>
          </p>
        <ul class="footer-links">
            <li><a href="/privacy.html">Privacy Policy</a></li>
        </ul>
    </footer>
</div>

<script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/transition.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27117308-1']);
  _gaq.push(['_setDomainName', 'openxcplatform.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
