body {
    padding-top: 60px;
    padding-bottom: 40px;
}

legend {
    margin:3px;
    text-align:center;
    width:100%
}

footer {
    margin-top: 40px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

div.highlight code {
    background-color: whiteSmoke;
}

code {
    padding: 0;
}

.stacked img {
    margin-bottom: 10px;
}

.picture.well {
    text-align: center;
}

.footer-links {
    margin: 10px 0;
    padding: 10px 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
    list-style-type: disc;
}

.nav-header {
    color: #999;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar-text {
    margin: 5px 0 0 10px;
}

.navbar-brand {
    padding: 10px 15px 0 15px;
}

.nav-stacked > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

h2:before, h3:before {
    display:block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

#print-logo {
    display: none;
}

.extra-screenshots {
    display: none;
}

button.getting-started {
    margin-bottom: 15px;
}

/* Make images responsive by default to avoid img-responsive class on almost
every img */
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
