---
layout: default
section: about
---

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">About</li>
                <li><a href="/overview/index.html">Overview</a></li>
                <li><a href="/about/data-set.html">OpenXC Data Set</a></li>
                <li><a href="/about/members.html">Participating Members</a></li>
                <li><a href="/about/press.html">Press</a></li>
                <li><a href="/overview/media.html">Media Kit</a></li>
                <li><a href="/overview/faq.html">FAQ</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
