---
layout: default
section: community
---

<div class="row">
    <div class="nav-container span3">
        <div class="well">
            <ul class="nav nav-list">
                    <li class="nav-header">Community</li>
                    <li><a href="/overview/discuss.html">Discussion</a></li>
                    <li><a href="/community/events.html">Events</a></li>
                    <li class="{% if page.url contains 'project' %}active{% endif %}"><a href="/projects/index.html">Projects</a></li>
		    <li class="nav-header">Contributors</li>
		    <li><a href="../contributors/index.html">Welcome Contributors</a></li>
		    <li><a href="../contributors/how_to_contribute.html">How to Contribute</a></li>
		    <li><a href="../contributors/contributing_tips_and_tricks.html">Contributing Tips</a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
