---
layout: default
section: community
---

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header">Community</li>
                    <li><a href="/overview/discuss.html">Discussion</a></li>
                    <li><a href="/community/events.html">Events</a></li>
                    <li class="{% if page.url contains 'project' %}active{% endif %}"><a href="/projects/index.html">Projects</a></li>
		    <li class="nav-header">Core Contributors</li>
		    <li><a href="/contributors/index.html">Contributor Resources</a></li>
		    <li><a href="/contributors/guide.html">How to Contribute</a></li>
		    <li><a href="/contributors/tips.html">Contributing Tips</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
