---
layout: default
section: contributors
---

<div class="row">
    <div class="nav-container span3">
        <div class="well">
            <ul class="nav nav-list">
                    <li class="nav-header">Resources</li>
                    <li><a href="http://github.com/openxc">GitHub - OpenXC</a></li>
		    <li><a href="https://groups.google.com/forum/#!forum/openxc">OpenXC Google Group</a></li>
		    <li><a href="https://github.com/openxc/openxcplatform.com/wiki">OpenXC Wiki</a></li>
		    <li class="nav-header">Help</li>
		    <li><a href="../contributors/how_to_contribute.html">How to Contribute</a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
