<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ page.title }}</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <link rel="stylesheet" type="text/css"
            href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen"
        href="static/css/styles.css"/>

    <link rel="stylesheet" type="text/css" media="screen"
        href="static/css/pygments/default.css"/>

    {% if page.redirect_to %}
        <meta http-equiv="refresh" content="0;URL={{ page.redirect_to }}">
    {% endif %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/openxc-logo.png"
          alt="OpenXC"/>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="top-nav-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if page.section == 'about' %}active{% endif %}"><a href="/overview/index.html">About</a></li>
        <li class="{% if page.section == 'developer' %}active{% endif %}"><a href="/getting-started/index.html">Developers</a></li>
        <li class="{% if page.section == 'hardware' %}active{% endif %}"><a href="/hardware.html">Hardware</a></li>
        <li class="{% if page.section == 'community' %}active{% endif %}"><a href="/overview/discuss.html">Community</a></li>
        <li><a href="https://shop.openxcplatform.com/">Shop</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
{{ content }}
</div>

<script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27117308-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
