---
layout: default
section: developer
---

<div class="row">
    <div class="nav-container span3">
        <div class="well">
            <ul class="nav nav-list">

                    <li><a href="/getting-started/index.html">Getting Started</a></li>

                    <li class="nav-header">Android Developers</li>
                    <li><a href="/android/getting-started.html">Getting Started with Android</a></li>
                    <li><a href="/android/library-installation.html">Android Library Setup</a></li>
                    <li><a href="/android/tutorial.html">App Tutorial</a></li>
                    <li><a href="/android/api-guide.html">API Guide</a></li>
                    <li><a href="/android/testing.html">Android Testing</a></li>
                    <li><a href="/android/troubleshooting.html">Troubleshooting</a></li>

                    <li class="nav-header">Python Developers</li>
                    <li><a href="/python/preparing-workstation.html">Workstation Setup</a>
                    <li><a href="/python/getting-started.html">Getting Started with Python</a></li>
                    <li><a href="/python/utilities.html">Utilities</a></li>

                    <li class="nav-header">Vehicle Interface Developers</li>
                    <li><a href="/vehicle-interface/firmware.html">Binary Firmware</a></li>
                    <li><a href="/firmware/advanced-intro.html">Advanced Firmware Development</a></li>
                    <li><a href="/vehicle-interface/concepts.html">VI Concepts</a></li>
                    <li><a href="/firmware/custom-data-example.html">Getting Started with Custom Data</a></li>
                    <li><a href="http://vi-firmware.openxcplatform.com">Advanced VI Firmware Docs</a></li>

                    <li class="nav-header">Other Resources</li>
                    <li><a href="https://github.com/openxc/openxc-message-format">OpenXC Output Format</a></li>
                    <li><a href="/resources/docs.html">Sources and Docs</a></li>
                    <li><a href="/resources/traces.html">Vehicle Trace Files</a></li>
                    <li><a href="/getting-started/step-by-step.html">Step-by-Step Getting Started Guide</a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
