---
layout: default
section: developer
---

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <ul class="nav nav-pills nav-stacked">

                    <li><a href="/getting-started/index.html">Getting Started</a></li>

                    <li class="nav-header">Vehicle Interface</li>
                    <li><a href="/vehicle-interface/concepts.html">VI Concepts</a></li>
                    <li><a href="/vehicle-interface/firmware.html">Setting up the VI</a></li>
                    <li><a href="/firmware/advanced-intro.html">Advanced Firmware Development</a></li>

                    <li class="nav-header">Android</li>
                    <li><a href="/android/getting-started.html">Using VI with Android</a></li>
                    <li><a href="/android/library-installation.html">Android Library Setup</a></li>
                    <li><a href="/android/tutorial.html">App Tutorial</a></li>
                    <li><a href="/android/api-guide.html">API Guide</a></li>
                    <li><a href="/android/testing.html">Android Testing</a></li>
                    <li><a href="/android/troubleshooting.html">Troubleshooting</a></li>

                    <li class="nav-header">Python</li>
                    <li><a href="/python/getting-started.html">Using VI with Python</a></li>
                    <li><a href="/python/utilities.html">Utilities</a></li>


                    <li class="nav-header">Other Resources</li>
                    <li><a href="https://github.com/openxc/openxc-message-format">OpenXC Output Format</a></li>
                    <li><a href="/resources/docs.html">Sources and Docs</a></li>
                    <li><a href="/resources/traces.html">Vehicle Trace Files</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
