---
layout: default
section: hardware
---

<div class="row">
    <div class="nav-container span3">
        <div class="well">
            <ul class="nav nav-list">
                    <li><a href="/hardware.html">OpenXC Hardware</a></li>

                    <li class="nav-header">Supported Hardware</li>
                    <li><a href="/host-devices/hardware.html">Host Devices</a></li>
                    <li><a href="/android/hardware.html">Android Devices</a></li>
                    <li><a href="/vehicle-interface/hardware.html">Vehicle Interfaces</a></li>
                    <li><a href="/hardware/vehicles.html">Vehicles</a></li>
            </ul>
        </div>
    </div>

    <div class="span9">
        {{ content }}

        {% include footer.html %}
    </div>
</div>
